@import '../../common/color';
@import '../../common/widget';

.list {
  margin-top: 0;
  padding: 0;
  li {
    list-style: none;
    .avatar.avatar-small {
      @include circle-avatar(5rem);
    }
    border-bottom: 1px solid #ddd;
    padding: 1rem 2.5rem;
    h3 {
      display: flex;
      align-items: center;
      margin: 0;
      margin-bottom: 0.6rem;
      .topic-tab {
        margin:  0.3rem 0.8rem 0 0;
        @include badge-sm;
      }
      .topic-title {
        font-size: 1.6rem;
        flex: 1;
        display:block;
        color: $purple;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
      }
    }
    .topic-count.reply-count {
      color: $blue;
    }
    .topic-detail-info {
      display: flex;
      align-items: center;
      .detail-info {
        flex: 1;
        display: block;
        color: $deep-blue;
        font-size: 1.4rem;
        p {
          display: flex;
          justify-content: space-between;
          .topic-reply-count {
            color: $blue;
          }
          margin: 1%;
        }
      }
    }
  }
}
