<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
  </head>
  <body>
    <h5>条件：</h5>
    <div id="app-1">
      <template v-if="all">
        <p v-if="base">BaseUse</p>
        <p v-else-if="elsif">BaseUseElseIf</p>
        <p v-else>BaseUseElse</p>
       </template>
       <div v-show="show">{{ show }}</div>
    </div>

    <script type="text/javascript">
      // 条件base
      //
      var app1 = new Vue({
        el: '#app-1',
        data: {
          all: true,
          base: true,
          elsif: true,
          show: true
        }
      })
    </script>
  </body>
</html>
