@import '../../common/color';
@import '../../common/widget';

@mixin sidebar-btn {
  display: block;
  color: $black;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  text-indent: 1px;
  line-height: 3.3rem;
}

.page-cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.4);
  z-index: 98;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}

.sidebar.show {
  // 通过该字段移动位置sidebar位置
  transform: translateX(12rem);
}
.sidebar {
  // sidebar样式思路
  // 侧边栏子元素 设定为块及元素实现一个选项一行
  // position: fixed 使dom位置相对视窗固定
  // z-index: 使得sidebar在所有元素的最上方
  // top, left: 设定初始位置
  // transition设定过度效果
  position: fixed;
  z-index: 99;
  width: 12rem;
  height: 100%;
  top: 0;
  transition: all .3s ease;
  left: -12rem;
  background-color: white;
  padding: 4rem 1.5rem;
  .user-info {
    text-align: center;
    .avatar.avatar-small {
      @include circle-avatar(5rem);
      margin-bottom: 0.4rem;
    }
    span {
      color: $black;
      font-size: 1.6rem;
      font-weight: 500;
    }
    margin-bottom: 2rem;
  }
  .about, .login, .logout {
    .about-btn, .login-btn, .logout-btn {
      display: block;
      margin: auto;
      font-size: 1.6rem;
      font-weight: 500;
      border: none;
      background-color: white;
    }
    margin-bottom: 2rem;
  }
  .tab-list {
    border-bottom: 2px solid $lite-grey;
    border-top: 2px solid $lite-grey;
    padding: 1rem 0;
    margin-bottom: 1rem;
    a {
      @include sidebar-btn;
    }
  }
  .message-btn {
    font-weight: 500;
    @include sidebar-btn;
    color: black;
  }
}
