@import '../../common/color';

.page-cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.4);
  z-index: 98;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}

.sidebar.show {
  // 通过该字段移动位置sidebar位置
  transform: translateX(400px);
}
.sidebar {
  // sidebar样式思路
  // 侧边栏子元素 设定为块及元素实现一个选项一行
  // position: fixed 使dom位置相对视窗固定
  // z-index: 使得sidebar在所有元素的最上方
  // top, left: 设定初始位置
  // transition设定过度效果
  position: fixed;
  z-index: 99;
  width: 400px;
  height: 100%;
  // top: 0;
  transition: all .3s ease;
  left: -400px;
  background-color: white;
  padding: 0 50px;
  .tab-list {
    border-bottom: 2px solid $lite-grey;
    border-top: 2px solid $lite-grey;
    margin-top: 88px;
    a {
      display: block;
      color: $black;
      font-size: 36px;
      font-weight: 555;
      margin: 66px 0;
      text-align: center;
      text-indent: 1px;
      line-height: 15px;
      height: 15px;
    }
  }
}
