@import '../../common/color';
@import '../../common/widget';

.text-editor {
  width: 100%;
  .text-content {
    resize: none;
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid $lite-grey;
    border-radius: 0.4rem;
  }

  text-align: right;
  .submit-btn {
    @include badge-sm;
    background-color: $blue;
    margin-bottom: 1.5rem;
  }
}

