@import '../common/color.scss';
@import '../common/widget';

.topic-page {
  padding: 0 36px;
  width: 100%;
  .topic-title {
    padding: 20px;
    color: $purple;
    background-color: $background-grey;
    border-radius: 15px;
  }
}
