@import '../common/color.scss';
@import '../common/widget';

.topic-page {
  width: 100%;
  .topic-reply-field-title {
    padding: 1.5rem;
    border-bottom: 1px solid $lite-grey;
    border-top: 1px solid $lite-grey;
    font-size: 2.2rem;
    span {
      color: $blue;
      font-weight: 700;
    }
  }
  .topic-title {
    margin: 1.5rem;
    font-size: 1.8rem;
    padding: 1rem;
    color: $purple;
    background-color: $background-grey;
    border-radius: 1.0rem;
  }
}
