@import '../../common/color';

.list {
  line-height: 2;
  li {
    border-bottom: 1px solid #ddd;
    .topic-count {
      font-size: 1.4rem;
      font-weight: 600;
    }
    .topic-title {
      height: 4rem
    }
    .topic-title-text {
      line-height: 4rem;
    }
    .topic-count.reply-count {
      font-weight: 900;
      color: $blue;
    }
  }
}
