@import './common/color.scss';

// 1rem=100/(16/10)=62.5%=10px
html { font-size: 62.5% }

/*当屏幕尺寸小于400px时，应用下面的CSS样式*/
@media screen and (max-width: 400px) {
  html { font-size: 52.5%; }
}

* {
  max-height: 100%;
  box-sizing: border-box;
}

body { margin: 0; }
a { text-decoration: none; }

.container {
  font-family: Helvetica-Neue,Helvetica,Arial,sans-serif;
  margin: auto;
  width: 100%;
  max-width: 1000px;
  min-width: 280px;
  padding-top: 5.5rem;
}

.markdown-body {
  word-wrap: break-word;
  font-size: 1.5rem;
  .markdown-text {
    table, pre {
      overflow: auto;
    }
    table {
      border-spacing: 0;
      border-collapse: collapse;
      margin-top: 0;
      margin-bottom: 1rem;
      display: block;
      width: 100%;
      overflow: auto;
      tr:nth-child(2n) {
        background-color: $code-background-color;
      }
      td, th {
        border: 2px solid $lite-grey;
      }
    }
    pre {
      padding: 1.25rem;
      border-radius: 20px;
      font-size: 1.4rem;
      background-color: $code-background-color;
    }
  }
  * {
    max-width: 100%
  }
}
