@import 'common/position';

* { box-sizing: border-box; }

// html { font-size: medium }
body { margin: 0; }
a { text-decoration: none; }

.container {
  font-family: Helvetica-Neue,Helvetica,Arial,sans-serif;
  margin: auto;
  width: 100%;
  max-width: 1000px;
  padding-top: 88px
}


