@import 'common/position';

.container {
  font-family: Helvetica-Neue,Helvetica,Arial,sans-serif;
  margin: auto;
  max-width: 1000px;
}
body { margin: 0; }
ul { padding: 0; }
li { list-style: none; }
a { text-decoration: none; }
* { box-sizing: border-box; }

