@mixin circle-avatar($diameter:100px) {
  border: 1px solid #f3f3f3;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: $diameter;
  height: $diameter;
}

@mixin badge-sm {
  width: 150px;
  height: 60px;
  line-height: 60px;
  font-size: 2.4rem;
}
