@import './color';

@mixin circle-avatar($diameter:100px) {
  border: 1px solid #f3f3f3;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: $diameter;
  height: $diameter;
}

@mixin badge-sm {
  font-size: 1.2rem;
  border-radius: 0.6rem;
  color: white;
  text-align: center;
  padding: 0.3rem 1.3rem
}

.badge.badge-sm {
  @include badge-sm;
  background-color: #888;
}

.all-tag, .dev-tag { @include badge-sm; background-color: #888; }
.ask-tag { @include badge-sm; background-color: #26a2ff; }
.share-tag { @include badge-sm; background-color: #4caf50; }

.good-tag { @include badge-sm; background-color: #e67e22; }
.top-tag { @include badge-sm; background-color: #f44336; }
.job-tag { @include badge-sm; background-color: $blue; }

