@mixin circle-avatar($diameter:100px) {
  border: 1px solid #f3f3f3;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: $diameter;
  height: $diameter;
}

@mixin badge-sm {
  width: 100px;
  height: 40px;
  line-height: 40px;
  font-size: 1.8rem;
}
