@import '../../common/widget';

.main-topic {
  padding: 0 2.25rem;
  margin-bottom: 4.13rem;
  .avatar.avatar-small {
    margin-right: 1.25rem;
    @include circle-avatar(5rem);
  }
  .topic-info {
    display: flex;
    .topic-detail {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      p {
        margin: 0.01rem 0;
        display: flex;
        font-size: 1.6rem;
        justify-content: space-between;
        .topic-tab {
          @include badge-sm
        }
      }
    }
  }
}
