@import '../../common/color';
@import '../../common/widget';

.topic-replies {
  .reply-list {
    padding: 0;
    .reply {
      padding: 1.25rem;
      list-style: none;
      border-bottom: 1px solid $lite-grey;
      .replyer-info {
        display: flex;
        align-items: center;
        .replyer-detail-info {
          font-size: 2.1rem;
          flex: 1;
          p {
            display: flex;
            margin: 0.63rem;
            justify-content: space-between;
          }
        }
        .avatar.avatar-small {
          margin-right: 1.25rem;
          @include circle-avatar(6.25rem);
        }
      }
      .reply-content.markdown-body {
        font-size: 2.5rem;
      }
    }
  }
}
