@import '../../common/color';
@import '../../common/widget';

.topic-replies {
  .reply-list {
    padding: 0;
    .reply {
      padding: 0.25rem 1.5rem;
      list-style: none;
      border-bottom: 1px solid $lite-grey;
      .replyer-info {
        display: flex;
        align-items: center;
        .replyer-detail-info {
          font-size: 1.1rem;
          flex: 1;
          p {
            display: flex;
            margin: 0.63rem;
            justify-content: space-between;
          }
          .reply-action {
            .uped-reply {
              color: $blue
            }
          }
        }
        .avatar.avatar-small {
          margin-right: 0.55rem;
          @include circle-avatar(3.25rem);
        }
      }
      .reply-content.markdown-body {
        font-size: 1.5rem;
      }
    }
    .reply:nth-last-of-type(1) {
      border-bottom: none;
    }
  }
}
