<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
  </head>
  <body>
    <h5> 绑定插入文本内容:</h5>
    <div id="app">
      {{ message }}
    </div>

    <h5> 绑定DOM元素属性:</h5>
    <div id="app-2">
      <span v-bind:title="message">
        Hover your mouse over me for a few seconds to see my dynamically bound title!
      </span>
    </div>

    <h5>条件：</h5>
    <div id="app-3">
      <p v-if="seen">Now you see me</p>
    </div>

    <h5>循环：</h5>
    <div id="app-4">
      <ol>
        <li v-for="todo in todos">
        {{ todo.text }}
        </li>
      </ol>
    </div>

    <h5>处理用户输入：</h5>
    <div id="app-5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">Reverse Message</button>
    </div>

    <div id="app-6">
      <p>{{ message }}</p>
      <input v-model="message">
    </div>

    <h5>组件构成应用：</h5>
    <div id="app-7">
      <ol>
        <!-- Now we provide each todo-item with the todo object    -->
        <!-- it's representing, so that its content can be dynamic -->
        <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
      </ol>
    </div>


    <script type="text/javascript">
      // 绑定插入文本内容
      //
      var app = new Vue({
        el: '#app',
        data: {
          message: 'Hello Vue!'
        }
      })

      // 绑定DOM元素属性
      //
      var app2 = new Vue({
        el: '#app-2',
        data: {
          message: 'You loaded this page on ' + new Date()
        }
      })

      // 条件
      //
      var app3 = new Vue({
        el: '#app-3',
        data: {
          seen: true
        }
      })

      // 循环
      //
      var app4 = new Vue({
        el: '#app-4',
        data: {
          todos: [
            { text: 'Learn JavaScript' },
            { text: 'Learn Vue' },
            { text: 'Build something awesome' }
          ]
        }
      })

      // 用户输入响应
      // 绑定监听事件
      //
      var app5 = new Vue({
        el: '#app-5',
        data: {
          message: 'Hello Vue.js!'
        },
        methods: {
          reverseMessage: function () {
            this.message = this.message.split('').reverse().join('')
          }
        }
      })

      // 用户输入数据绑定
      //
      var app6 = new Vue({
        el: '#app-6',
        data: {
          message: 'Hello Vue!'
        }
      })

      // 组件
      //
      Vue.component('todo-item', {
        // The todo-item component now accepts a
        // "prop", which is like a custom attribute.
        // This prop is called todo.
        props: ['todo'],
        template: '<li>{{ todo.text }}</li>'
      })

      var app7 = new Vue({
        el: '#app-7',
        data: {
          groceryList: [
            { text: 'Vegetables' },
            { text: 'Cheese' },
            { text: 'Whatever else humans are supposed to eat' }
          ]
        }
      })
    </script>
  </body>
</html>
