<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
  </head>
  <body>
    <h5>表单绑定：</h5>
    <div id="app-1">
      <h5>单行输入：</h5>
      <input v-model="line"></input>
      <p>{{ line }}</p>
      <h5>多行输入：</h5>
      <textarea v-model="multiLine"></textarea>
      <p style="white-space: pre">{{ multiLine }}</p>
      <h5>checkbox：</h5>
      <input v-model="checked" id="checkbox" type="checkbox"></input>
      <label for="checkbox">{{ checked }}</label>
      <h5>checkbox(multi)：</h5>
      <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
      <label for="jack">Jack</label>
      <input type="checkbox" id="john" value="John" v-model="checkedNames">
      <label for="john">John</label>
      <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
      <label for="mike">Mike</label>
      <br>
      <span>Checked names: {{ checkedNames }}</span>
      <h5>radio buttons(multi)：</h5>
      <input type="radio" id="one" value="one" v-model="picked">
      <label for="one">one</label>
      <br>
      <input type="radio" id="two" value="two" v-model="picked">
      <label for="two">two</label>
      <br>
      <span>picked: {{ picked }}</span>
      <h5>select(single)：</h5>
      <select v-model="singleSelected">
        <option>A</option>
        <option>B</option>
        <option>C</option>
      </select>
      <span>Selected: {{ singleSelected }}</span>
      <h5>select(multi)：</h5>
      <select v-model="multiSelected" multiple>
        <option>A</option>
        <option>B</option>
        <option>C</option>
      </select>
      <span>Selected: {{ multiSelected }}</span>
    </div>

    <script type="text/javascript">
      // 条件base
      //
      var app1 = new Vue({
        el: '#app-1',
        data: {
          line: '',
          multiLine: '',
          checked: true,
          checkedNames: [],
          picked: null,
          singleSelected: null,
          multiSelected: []
        }
      })
    </script>
  </body>
</html>
